@tailwind base;
@tailwind components;
@tailwind utilities;

.mulish-700 {
    font-family: "Mulish", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

.copyleft {
    display:inline-block;
    transform: rotate(180deg);
}
